/* PLEASE NOTE: THESE TAILWIND IMPORTS SHOULD NEVER BE DELETED */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* DO NOT DELETE THESE TAILWIND IMPORTS, OTHERWISE THE STYLING WILL NOT RENDER AT ALL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Nunito:wght@400;700&family=Dancing+Script:wght@600&display=swap');
@layer base {
  html {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
  }
  h1, h2, h3, .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }
  .font-dancing {
    font-family: 'Dancing Script', cursive;
  }
}
@layer utilities {
  .duration-3000 {
    transition-duration: 3000ms;
  }
}